@import "tailwindcss";

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
